.popular_con {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.popular_line {
  height: 0.5px;
  width: 100%;
  border-width: 0.5px;
  border-color: red;
  margin-bottom: 15px;
  margin-top: 10px;
}

.popular_cover_con {
  color: aliceblue;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 375px) {
  .popular_cover_con {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 200px;
    margin-left: 4%;
  }
  .popular_line {
    height: 0.5px;
    width: 100%;
    border-width: 0.5px;
    border-color: red;
    margin-bottom: 15px;
    margin-top: 10px;
  }
}
