.navbar_container {
  display: flex;
  flex-direction: row;
  background-color: rgba(244, 201, 201, 0);
  align-items: center;

  width: 100%;
  justify-content: space-between;
}
.nav_links {
  margin-left: 50px;
}
ul {
  display: flex;
  flex-direction: row;
}
.link {
  color: white;
  font-size: 18px;
  font-weight: 420;
}
.link:hover {
  color: rgb(240, 61, 61);
}

.nav_search_socials {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search {
  align-self: flex-start;
  width: 300px;
  height: 30px;
}
.socials {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 375px) {
  .navbar_container {
    display: flex;
    flex-direction: row;
    background-color: rgba(244, 201, 201, 0);
    align-items: center;

    width: 375px;
    justify-content: space-between;
  }

  .nav_search_socials {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .links_con {
    width: 90% !important;
    background-color: rgba(240, 248, 255, 0.017);
    padding: 5px !important;
  }
  .search {
    visibility: hidden;

    width: 0px;
    height: 0px;
  }
  .socials {
    width: 0px;
    height: 0px;
  }
}
