.carousel_pic {
  display: flex;
  background-image: linear-gradient(
    transparent,
    to bottom right,
    red,
    rgb(239, 239, 229)
  );
}
.carousel_genres_con {
  position: absolute;
  margin-top: 100px;
  margin-left: 50px;
}
.carousel_Image {
  display: flex;
  align-items: center;
  height: 100%;
  /* background: (linear, left top, left bottom, from(transparent)); */
  background: linear-gradient(to left, transparent, rgb(10, 10, 10));
}

.carousel_genres {
  color: aliceblue;
  margin-top: 10px;
  font-size: 14px;
  height: 25px;

  border-color: rgb(246, 223, 223);
  background-color: rgba(247, 242, 242, 0.419);
  margin-left: 10px;

  border-radius: 20px;
  padding-left: 7px;
  padding-right: 7px;
}

.carousel_genres:hover {
  background-color: rgba(255, 0, 0, 0.928);
}

.genres_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 50px;
  width: 100%;
  background-color: black;
}
.genre-text {
  font-size: 20px;
  font-weight: 450;
  color: rgba(240, 248, 255, 0.81);
  padding-top: 11px;
  margin-right: 16px;
}
.button_genres {
  color: aliceblue;
  margin-top: 10px;
  font-size: 14px;

  height: 32px;
  border-width: 1.5px;
  border-color: red;
  background-color: rgba(122, 116, 116, 0.007);
  margin-left: 10px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.button_genres:hover {
  background-color: rgba(255, 0, 0, 0.928);
}
.button_genres_more {
  color: rgba(255, 0, 0, 0.928);
  margin-top: 10px;
  height: 32px;
  background-color: rgba(244, 29, 29, 0.007);
  margin-left: 10px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}
.button_genres_more:hover {
  color: aliceblue;
}
.carousel_genres_con_mobile {
  visibility: hidden;
}

/* mobile Screen */

@media screen and (max-width: 640px) {
  .carousel_genres_con {
    visibility: hidden;
  }
  .carousel_genres_con_mobile {
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carousel_genres {
    color: aliceblue;
    margin-top: 1px;
    font-size: 14px;
    height: 25px;

    border-color: rgb(246, 223, 223);
    background-color: rgba(247, 242, 242, 0.429);
    margin-left: 10px;
    border-radius: 20px;
    padding-left: 7px;
    padding-right: 7px;
  }
  .carousel_genres:hover {
    background-color: rgba(245, 238, 238, 0);
  }
  .genres_bar {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }

  .carousel_Image {
    height: 100% !important;
    width: 90% !important;

    border-radius: 10px !important;
  }
}
